.editForm{
    position:absolute; top:0px; left: 0px; right: 0px; bottom:0px; width: 100%; background: #fff; z-index: 9999999;
    padding: 20px; overflow: auto;
    .cancelEdit{
        position: absolute; right:30px; top: 30px; color: #DD1100; font-size: 14px; z-index: 9;
    }
}

