.editForm{
    position:absolute; top:0px; left: 0px; right: 0px; bottom:0px; width: 100%; background: #fff; z-index:9;
    padding: 20px; overflow: hidden;
    .cancelEdit{
        position: absolute; right:30px; top: 10px; color: #DD1100; font-size: 14px; z-index: 9;
    }
    .el-tabs__content{ position: absolute; top:80px; left: 0px; right: 0px; bottom:0px; padding-bottom: 30px; overflow: auto;}
}
.li-search{
    .el-date-editor,button{ margin-top: 5px;}
}

